* {
    box-sizing: border-box;
}

body {
    background-color: #2cbcf1;
}

/* Regras Enuciado */
@media (min-width: 2500px) {
    .fs-enu {
        font-size: 2.5rem;
    }
}

.enunciado {
    height: 10vh;
}

/* Regras de tamanho do campo imagem */
.imgQ {
    height: 35vh;
}

@media (min-width: 992px){
    .imgQ {
        height: 50vh;
    }
}

/* Regras para tamanho dos botões de opção*/
@media (min-width: 2500px) {
    .fs-opt1, .fs-opt2, .fs-opt3, .fs-opt4 {
        font-size: 2.5rem;
    }
}

.opt1, .opt2, .opt3, .opt4{
    justify-content: center;
}
