* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face {
    font-family: Colus;
    src: url(./../../assets/fonts/Colus/Colus/Commercial/OTF/Colus-Regular.otf);
}

@font-face {
    font-family: Grenze;
    src: url(./../../assets/fonts/Grenze/Grenze/otf/Grenze-Regular.otf);
}

.bg-fundo {
    background-image: url(./../../assets/img/pontoSVG/tela-inicial-filhon-fundo.svg);
    background-size: cover;

    width: 100%;
    height: 100%;

    overflow: hidden;

    position: absolute;
}

.bg-terra {
    position: absolute;

    width: 100%;

    bottom: 0%;

    z-index: 1000;
}

.bg-sol {
    position: absolute;

    width: 100%;

    top: -10%;

    z-index: 999;
}

#conteudo-inicial {
    display: flex;
    justify-content: center;
}

.imgA-start {
    position: absolute;

    width: 40%;

    top: 5%;

    z-index: 1010;
}


.btn-start-area {
    position: absolute;
    top: 50%;

    z-index: 1005;
}

.btn-start {
    width: 30rem;
    height: 8rem;

    border-radius: 5rem;
    border: 5px solid #ffb6c1;

    background-image: url(./../../assets/img/pontoSVG/bg-verde.svg);
    background-repeat: no-repeat;
    background-size: cover;

    animation-name: btnStartAnimation;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes btnStartAnimation {
    from {
        width: 30rem;
        height: 8rem;
        margin-top: 15px;
    }
    to {
        width: 32rem;
        height: 9rem;
        margin-top: -15px;
    }
}

/* Conteudo principal da lição */
#conteudo-da-licao {
    display: none;
}

#conteudo-licao {
    position: absolute;
    width: 100%;

    z-index: 1010;

    top: 15%;
}

.grid-principal {
    background-color: transparent;
    padding: 2rem;

    position: absolute;

    width: 80%;

    top: 20%;
}

.obj-questao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
}

.que-enunciado {
    background-image: url(./../../assets/img/pontoSVG/blue-texture1.svg);
    background-size: 110%;
    background-repeat: no-repeat;
    color: white;

    border-radius: 1rem;
    border: 2px solid black;

    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.q-img {
    background-color: white;

    border-radius: 100%;
    border: 2px solid black;

    height: 50vh;
    margin-bottom: 1rem;
    margin: 0;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.q-opcoes {
    background-image: url(./../../assets/img/pontoSVG/blue-texture1.svg);
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 1rem;
    border: 1px solid black;

    padding: 1rem;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(20px, auto);
}

.q-btn-opcoes {
    width: 100%;
    height: 3rem;

    margin: auto 0;

    border-radius: 10px;

    font-size: 1.25rem;
    font-weight: bold;
}

.btn-color1 {
    background-image: url(./../../assets/img/pontoSVG/bg-btn1-rosa.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    opacity: 100%;

    width: 80%;

    margin: auto;
}

.btn-color2 {
    background-image: url(./../../assets/img/pontoSVG/bg-btn2-verde.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;

    width: 80%;

    margin: auto;
}

.btn-color3 {
    background-image: url(./../../assets/img/pontoSVG/bg-btn3-marron.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;

    width: 80%;

    margin: auto;
}

.btn-color4 {
    background-image: url(./../../assets/img/pontoSVG/bg-btn4-amarelo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;

    width: 80%;

    margin: auto;
}

.row-cnt {
    background-color: transparent;

    position: absolute;

    z-index: 1010;

    width: 80%;
    height: 3rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    top: 7%;

    font-size: 1.25rem;
    font-family: Colus;
}

#tx1 {
    background-image: url(./../../assets/img/pontoSVG/blue-texture1.svg);
    background-size: cover;
    background-repeat: no-repeat;

    color: white;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
}

#tx2 {
    color: yellow;
    font-weight: bold;
}
#tx3 {
    color: red;
    font-weight: bold;
}

/* modal - responder perguntas*/

/* The Modal (background) */
.modal-li {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */


    background-color: transparent;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }

  .modal-animation{
    animation-name: modal-animation;
    animation-duration: 0.5s;
  }

  @keyframes modal-animation {
      from {
          opacity: 0;
        }
      to {
          opacity: 1;
        }
  }

  /* Modal Content */
  .modal-conteudo {
    width: 600px;
    height: 800px;

    margin:auto;

    margin-top: 80px;

    display: flex;
    flex-direction: column;
  }

  .bg-modal {
    width: 100%;
    max-width: 800px;

    background-image: url(./../../assets/img/pontoSVG/bg-fundo-modal-licao1.svg);
  }

  .status-resposta {
    width: 600px;
    height: 200px;

    margin-top: 12rem;

    font-size: 4rem;
    font-family: Colus;

    text-align: center;
    align-self: center;
  }

  .status-resposta > p {
      padding-left: 5rem;
      padding-right: 5rem;
      margin-bottom: 0%;
  }

  .btnProxima {
      display: flex;
      justify-content: center;

      margin-top: 4.5rem;
  }

  .proxima-pergunta {
      width: 200px;
      height: 200px;
  }

  .bg-btn-proximo {

    width: 200px;
    height: 200px;

    background-image: url(./../../assets/img/pontoSVG/btn-rainbow-teste.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
