html, body{
    padding: 3px;
    margin: 0;
    min-height: 100px;
  }
  
  input{
    margin: 10px auto;
    display: block;
    background-color: red;
  }
  
  .progress-bar{
    --progress: 50;
    height: 50px;
    padding: 5px;
    background-color: #ccc;
    display: flex;
  }
  
  .progress-bar::before{
    content: "";
    width: calc(var(--progress) * 1%);
    background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
    transition: all 0.2s ease;
  }