.main {
  width: 882px;
  height: 803px;

  background: #4f9de9;
  border: 3px solid #000000;
  border-radius: 44px;
}

body{
  background: url(./../../assets/img/bg-licao2.png)no-repeat !important;
  background-size: cover !important;
}

.botao-robo {
  width: 281.39px;
  height: 257px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rosto-robo{
  /* Rectangle 1651 */


box-sizing: border-box;


width: 690px;
height: 269px;


background: #50FFBB;
border: 2px solid #000000;
box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
border-radius: 33px;

}

.rosto-robo-cara{
/* Rectangle 1655 */


box-sizing: border-box;

width: 660px;
height: 259px;


background: #D9D9D9;
border: 2px solid #000000;
box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
border-radius: 33px;
}

/* barra de progresso */
.progress-bar1{
  --progress: 50;
  
  height: 50px;
  padding: 5px;

  justify-content: left;
  flex-direction: row ;

  background-color: #ccc ;
  display: flex ;
  border-radius: 50px ;



}

.progress-bar1::before{
  content: "";
  width: calc(var(--progress)*1) !important;
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  border-radius: 50px ;
  transition: all 0.6ms ease;
}